doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
  body
    nav
      .nav-wrapper.green.accent-3
        a.brand-logo(href='/') Store
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='/listing') Listings
          li
            a(href='/dashboard') Dashboard
    .container
      block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
